@use "sass:color";

$main-color: #1976d2;
$light-gray-background: #ccc;
$darker-gray: #5d5d5d;
$white: white;
$black: black;

$disabled-slider-bg: rgb(26, 30, 35);
$disabled-slider-opacity: 0.12;
$disabled-circle-bg: rgb(245, 245, 245);

$checked-disabled-slider-opacity: 0.12;
$checked-disabled-circle-bg: rgb(167, 202, 237);

.switch {
  display: flex;
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: $light-gray-background;
  transition: 0.1s;
  border-radius: 20px;

  &:hover {
    filter: brightness(0.9);
  }
}

.sliderCircle {
  position: absolute;
  border-radius: 100%;
  background-color: $main-color;
  height: 20px;
  width: 20px;
  transition: 0.1s;
  top: 50%;
  transform: translateY(-50%);
}

input:checked ~ .slider {
  background-color: $main-color;
  opacity: 0.5;
}

input:checked ~ .sliderCircle {
  transform: translate(70%, -50%);
  transition: 0.1s;
}

input:checked:disabled ~ .slider {
  background-color: $main-color;
  opacity: $checked-disabled-slider-opacity;
}

input:checked:disabled ~ .sliderCircle {
  background-color: $checked-disabled-circle-bg;
}


input:disabled ~ .slider {
  background-color: $disabled-slider-bg;
  opacity: $disabled-slider-opacity;
}

input:disabled ~ .sliderCircle {
  background-color: $disabled-circle-bg;
}